.about{
    width: calc(100vw - var(--padding-2));
    height: calc(100vh - var(--padding-2));
    padding: 20px 0;

    &-modal {
        max-width: 500px;
        background-color: $white;
        border-radius: $component-border-radius;
        box-shadow: $box-shadow-component;
        padding: 20px 40px;

        p {
            line-height: 1.25;
        }
    }
}