.activity {
    width: 100%;
    // display: grid;
    // grid-template-columns: 1fr 1fr;

    &-calendar {
        padding-right: 20px;
        width: calc(100% - 20px);
        height: var(--full-height);
        // position: relative;

        &-header {
            width: 100%;
            height: 40px;
            padding-top: 20px;
            padding-bottom: 10px;
        }
        
        &-calendar {
            background-color: $white;
            padding: 30px 20px;
            width: calc(100% - 40px);
            height: calc(100% - 150px);
            border-radius: $component-border-radius;
            overflow: hidden;
            box-shadow: $box-shadow-component;

            &-hours {
                padding-top: 20px;
                width: 100%;
                height: calc(100% - 20px);
                display: flex;
                overflow: scroll;
                flex-direction: column;
                justify-content: space-between;
            }
        }

    }

    &-feed {
        width: 100%;
        height: var(--full-height);

        &-map {
            width: 100%;
            height: calc(100% - 300px - 40px);
            background-color: antiquewhite;
            border-radius: $component-border-radius;
            overflow: hidden;
        }
    }
}

.calendar-hour-set {
    min-height: 40px;
    position: relative;
    .time {
        margin-top: -.45rem;
        width: 50px;
    }

    &-activity {
        position: absolute;
        z-index: 1;
        background-color: $blue;
        border-radius: $part-border-radius;
        margin-left: 60px;
        height: calc((100vh - 220px) / 16);
        min-height: 40px;
        width: calc(100% - 60px);


        &-location {
            position: absolute;
            bottom: 20px ;
        }
        
        &-activity-type {
            position: absolute;
            right: 0;
            top: 0;
            
        }
    }
}

.local-time-ticker {
    position: absolute;
    z-index: 2;
    right: 0;
    width: calc(100% - 60px);
    
    &-header {
        width: 10px;
        height: 10px;
        border-radius: 20px;
        background-color: $error-red;
    }
    
    &-body {
        width: 100%;
        height: 3px;
        background-color: $error-red;
    }

    &.min0 {
        top: -5px;
    }
    &.min15 {
        top: max(calc((((100vh - 220px) / 16) / 4) - 5px), 5px);
    }
    &.min30 {
        top: max(calc((((100vh - 220px) / 16) / 2) - 5px), 15px);
    }
    &.min45 {
        top: max(calc((((100vh - 220px) / 16) / 1.5) - 5px), 25px);
    }
}



.calendar-hour-set-activity {
    @media only screen and (max-height: 1400px) {
        .calendar-hour-set-activity-location {
            display: none;
        }
    }
}



:root {
    @media only screen and (max-width: 1199px) {        
        .activity-calendar {
            width: 100%;
            display: block;
            padding-right: 20px;
        }
        .activity-feed {
            display: none;
        }
    }

    @media only screen and (min-width: 1200px) {      
        .activity {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .activity-calendar {
            display: block;
        }
        .activity-feed {
            display: block;
        }
    }

    @media only screen and (max-width: 991px) {        
        .activity-calendar {
            // padding-top: 40px;
            padding-left: 10px;
            padding-right: 20px;
            width: calc(100% - 20px);
            height: calc(100vh - 10px);

            &-header {
                padding-top: 50px;
            }

            &-calendar {
                height: calc(100% - 170px);
            }

        }
    }
}

