.edit-activity {
    
    &-background {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.52);
        z-index: 9;
    }

    &-modal {
        width: 500px;
        max-width: calc(100% - 110px);
        background-color: $white;
        border-radius: $component-border-radius;
        box-shadow: $box-shadow-component;
        padding: 40px;
    }
}

.edit-activity-background.active {
    display: flex;
}