@import './variables.scss';
@import './reset.scss';
@import './layouts.scss';
@import './text.scss';
@import './interactive.scss';
@import './spacing.scss';
@import './position.scss';
@import './go.scss';
@import './misc.scss';
@import './around-me.scss';
@import './businessCard.scss';
@import './tags.scss';
@import './activity.scss';

    // /* Extra small devices (phones, 600px and down) */
    // @media only screen and (max-width: 600px) {
        
    // }

    // /* Small devices (portrait tablets and large phones, 600px and up) */
    // @media only screen and (min-width: 600px) {

    // }

    // /* Medium devices (landscape tablets, 768px and up) */
    // @media only screen and (min-width: 768px) {

    // }

    // /* Large devices (laptops/desktops, 992px and up) */
    // @media only screen and (min-width: 992px) {

    // }

    // /* Extra large devices (large laptops and desktops, 1200px and up) */
    // @media only screen and (min-width: 1200px) {

    // }

html {
    font-family: $font;
    background-color: $background-color;
    color: $black;
}

:root {
    @media only screen and (max-width: 991px) {        
        --full-height: calc(100vh - 10px);
    }

    @media only screen and (min-width: 992px) {        
        --full-height: calc(100vh - 40px);
    }
}

