button {
    border-radius: 5px;
    background-color: $white;
    border: none;
    cursor: pointer;
    transition: $transition-fast;
    padding: 5px 20px;

    &.grey {
        background-color: $grey-light;
        color: $grey-dark;
    }

    &.black {
        background-color: $black;
        color: $white;
    }

    &.white {
        color: $black;
    }

    &.selected {
        background-color: $black;
        color: $white;
    }

    &.large {
        padding: 10px 30px;
    }

    &.day {
        padding: 0;
    }

    &.sidebar-button {
        text-align: left;


        .sidebar-button-selected {
            width: .5rem;
            height: .5rem;
            border-radius: .5rem;
            background-color: $black;

            margin-right: 0;
            margin-left: auto;
        }
    }
}


input {
    border-radius: $interactive-border-radius;
    border: none;
    background-color: $grey-light;
    color: $grey-dark;
    padding: .5rem .875rem;
    width: 100%;

    &:focus {
        outline: none;
    }
}

input, textarea, select {
    &:focus {
        outline: none;
    }
}

.interactive {
    .label-container {
        width: 5rem;
    }
}

select {
    background-color: $white;
    border: none;
    border-radius: $part-border-radius;
    padding: 5px 20px;
    font-size: 1rem;
    letter-spacing: -.04rem;
    font-weight: 700;
}