
.container {
    padding: var(--padding);
}

.layout {
    width: calc(100vw - var(--padding-2));
    height: calc(100vh - var(--padding-2));

    // CHANGED
    @media only screen and (min-width: 1100px) {
        display: grid;
        grid-template-columns: 1fr 4fr;
        --sidebar-width: calc((100vw - 480px) / 4)
        
    }

    @media only screen and (min-width: 1500px) {
        display: grid;
        grid-template-columns: 1fr 6fr;
        --sidebar-width: calc((100vw - 480px) / 6)
    }

    @media only screen and (min-width: 1600px) {
        display: grid;
        grid-template-columns: 1fr 7fr;
        --sidebar-width: calc((100vw - 480px) / 7)
    }
}


// establishing either sidebar or hamburger layout
:root {
    @media only screen and (min-width: 500px) {
        .sidebar {
            display: none;
        }

        .feed {
            width: 100%;
            padding-left: 0px;
        }
    }

    // CHANGED
    @media only screen and (min-width: 1100px) {        
        .sidebar {
            display: flex;
        }

        .hamburger-container {
            display: none;
        }
    }
}



.sidebar {
    width: var(--sidebar-width);
    position: relative;
    padding-right: 20px;
    height: $full-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
}

.feed {
    width: calc(100% - var(--padding-2));
    height: var(--full-height);
    padding-left: 40px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
}

.hamburger {

    &-icon {
        width: .75rem;
        height: .75rem;
        border-radius: 1rem;
        background-color: $black;
    }
    
    &-container {
        position: fixed;
        left: 20px;
        top: 20px;
        z-index: 98;

        h3 {
            opacity: 0%;
            transform: translateX(-.5rem);
            transition: $transition-fast;
        }

        &:hover {
            h3 {
                opacity: 100%;
                transform: translateX(0);
            }
        }

    }

    &-menu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        transition: $transition-fast;
        width: 100%;
        height: 100%;
        background-color: $background-color;
        
        transition: $transition-fast;
        opacity: 0%;
        display: none;

        &-closer {
            position: fixed;
            left: 20px;
            top: 20px;
        }
        

        &.active {
            opacity: 100%;
            display: block;
        }

        &-items {
            height: 100%;
            padding: 20px 20px;
        }
    }
}

.two-column-row {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &:last-child {
        margin-right: .75rem;
    }
}