/* 
===============================
MARGIN BOTTOM
===============================
*/

.mb-3 {
    margin-bottom: 3px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

/* 
===============================
MARGIN TOP
===============================
*/

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

/* 
===============================
MARGIN RIGHT
===============================
*/

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-40 {
    margin-right: 40px;
}

.mr-50 {
    margin-right: 50px;
}

/* 
===============================
MARGIN LEFT
===============================
*/

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-40 {
    margin-left: 40px;
}

.ml-50 {
    margin-left: 50px;
}

.ml-60 {
    margin-left: 60px;
}

/* 
===============================
MARGIN TOP & BOTTOM
===============================
*/

.my-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.my-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.my-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.my-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}



/* 
=============================================
            REM SYSTEM
=============================================
*/


// right

.mr-1-rem {
    margin-right: .25rem;
}

.mr-2-rem {
    margin-right: .5rem;
}

.mr-3-rem {
    margin-right: .75rem;
}

.mr-3-rem {
    margin-right: 1rem;
}

.mr-4-rem {
    margin-right: 1.5rem;
}

.mr-5-rem {
    margin-right: 2rem;
}

// left

.ml-1-rem {
    margin-left: .25rem;
}

.ml-2-rem {
    margin-left: .5rem;
}

.ml-3-rem {
    margin-left: .75rem;
}

.ml-3-rem {
    margin-left: 1rem;
}

.ml-4-rem {
    margin-left: 1.5rem;
}

.ml-5-rem {
    margin-left: 2rem;
}



// bottom
.mb-1-rem {
    margin-bottom: .25rem;
}

.mb-2-rem {
    margin-bottom: .5rem;
}

.mb-3-rem {
    margin-bottom: .75rem;
}

.mb-3-rem {
    margin-bottom: 1rem;
}

.mb-4-rem {
    margin-bottom: 1.5rem;
}

.mb-5-rem {
    margin-bottom: 2rem;
}