@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
$font: Inter, -apple-system, sans-serif;


// Border Radius
$component-border-radius: 11px;
$part-border-radius: 7px;
$interactive-border-radius: 5px;

// COLOR
$black: #121212;
$blue: #9FB1C9;
$grey-dark: #94969A;
$grey-mid-blue: #DDE4EB;
$grey-light: #F5F6F7;
$background-color: #F7F7F9;
$white: #FFFFFF;
$test: #FDF1D2;
$error-red: #b30615;
$error-red-background: #F57680;


// MATH
$full-height: calc(100vh - 40px);

// Box Shadow
// offset-x | offset-y | blur-radius | spread-radius | color 
$box-shadow-interactive: 9px 10px 11px -12px #0000001A;
$box-shadow-hover: 11px 12px 11px -12px #00000026;
$box-shadow-input-focus: 9px 10px 13px -14px #0000001A;
$box-shadow-component: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
$box-shadow-account: rgba(0, 0, 0, 0.16) 0px 1px 4px;

// MISC
$transition-fast: all .3s;
$transition: all .6s;
$transition-slow: all 1s;