.messages {
    background-color: $grey-1;
    padding: 10px 20px;
    width: 100%;
    height: calc(82vh - 10px);
    border-radius: 11px;
    position: relative;

    &-body {
        // background-color: red;
        height: calc(100% - 145px);
        overflow: scroll;
    }

    .breaker {
        width: 100%;
        height: 1px;
        background-color: $grey-2;
    }

    &-text-box {
        padding: 0 10px;
        // display: flex;
        display: grid;
        grid-template-columns: 7fr 1fr;
        flex-direction: row;
        justify-content: end;
        align-items: end;
        position: absolute;
        bottom: 10px;
        // right: 70px;

        background-color: $grey-1;
        
        button {
            padding: 10px;
            height: 100%;
            margin-bottom: 0;
        }

        textarea {
            max-height: 20px;
            min-width: 100%;
        }

        .activitty-text-area {
            // background-color: red;
            // width: 15vw;
            margin-left: -20px;
        }
    }

    .message {
        display: flex;
        align-items: center;

        &.sent{
            p {
                color: $blue-light;
            }

            .sender-icon {
                border: 1px solid $blue-light;
            }
        }

        &.recieved{
            p {
                color: $blue;
            }

            .sender-icon {
                border: 1px solid $blue;
            }
        }

        .sender-icon {
            background-color: $white;
            font-size: .75rem;
            letter-spacing: .015rem;
            width: 24px;
            padding: 1px 1px;
            height: 24px;
            box-shadow: $box-shadow;
            
            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 25px;
            border: 1px solid $blue-light;

            &-wrapper {
                width: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.conditional-command {
    font-weight: bold;
    color: $blue-light;

    &-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}