@import './variables.scss';
@import './reset.scss';
@import './spacing.scss';
@import './misc.scss';
@import './goWalk.scss';
@import './signup.scss';

html {
    font-family: $font;
    color: $blue;
    background-color: $grey-1;
    letter-spacing: $letter-spacing;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}



.logo {
    color: $green;
    font-size: 2rem;
    text-align: left;

    &.large {
        font-size: 3rem;
    }
}

.text-center {
    text-align: center;
}

.fw-regular {
    font-weight: normal;
}

button {
    background-color: $white;
    color: $blue;
    border: none;
    padding: 10px 20px;
    border-radius: $border-radius-sm;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: $box-shadow;
    transition: $transition;
    margin-bottom: 20px;

    &:hover {
        box-shadow: $box-shadow-hover;
    }

    &.span {
        min-width: calc(100% - 60px);
    }

    &.full-span {
        min-width: 260px;
    }

    &.full-span-go-walk{
        width: 100%;
    }

    &.blue {
        background-color: $grey-1;
    }
}

textarea:focus, input:focus{
    outline: none;
    box-shadow: $box-shadow-input-focus;
}

input {
    border: none;
    background-color: $grey-1;
    font-weight: bold;
    letter-spacing: -.03rem;
    color: $blue;
    padding: 10px 20px;
    border-radius: $border-radius-sm;
    width: 220px;
    transition: $transition-l;
}