.signup{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90vh;

    &-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: 2px solid $grey-2;

        input {
            width: calc(30vw - 60px);
        }
    }

    &-right{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $grey-1;
        margin-left: 20px;
        border-radius: 7px;
    }
}

.align-left{
    width: 30vw;
}