@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font: Inter, -apple-system, sans-serif;


// shades
$white: #FFFFFF;
$grey-1: #F8FAFC;
$grey-2: #DDE4EB;
$tan: #FAF4EB;
$blue-light: #9FB1C9;
$blue-light-mid: #3d6fb4;

$error-red-dark: #E0330F;
$error-red-light: #f79da6;
$error-red-light-hover: #FFB9C0;


// #111212
$blue: #334155;
$green: #0D6932;
$green-light: #1B8C4C;


$border-radius: 11px;
$border-radius-sm: 7px;
$letter-spacing: -.075rem;
$transition-s: all .3s;
$transition: all .6s;
$transition-l: all 1s;
$border: 1px solid $grey-2;

$full-height: calc(100vh - 40px);

// offset-x | offset-y | blur-radius | spread-radius | color 
$box-shadow: 9px 10px 11px -12px #0000001A;
$box-shadow-input-focus: 9px 10px 13px -14px #0000001A;
$box-shadow-hover: 11px 12px 11px -12px #00000026;